.reset_password {
  margin: 164px auto;
  width: 350px;
  height: auto;
  background-color: #1e7bbb;
  padding: 10px 10px;
  text-align: center;
}

.reset_password h2 {
  color: white;
  font-weight: lighter;
}

input.resetPassword_inputField {
  display: block;
  margin: 7px auto;
  width: 290px;
  height: 40px;
  box-sizing: border-box;
}
