.Button {
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 20px;
  font-weight: bold;
}

.Button:disabled {
  background-color: #555555;
  color: white;
  cursor: not-allowed;
}

.Success {
  background-color: #4caf50;
}

.Danger {
  background-color: #f44336;
}
