.Auth {
  margin: 110px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
  background-color: #1e7bbb;
  height: 585px;
  padding: 68px 25px;
}

.Auth h2 {
  color: white;
  font-weight: lighter;
}

.Auth div {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.Auth img {
  width: 40%;
  border-radius: 50%;
}

.Auth a {
  display: block;
  color: white;
}

@media (min-width: 600px) {
  .Auth {
    width: 500px;
  }
}
