.Sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.Sidenav div {
  margin: 0 31px;
}

.Sidenav h2 {
  color: white;
  padding: 0 50px;
}

.Sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #dbdbdb;
  display: block;
  font-weight: 100;
  margin: 10px;
}

.Sidenav a:hover {
  color: #ffffff;
}

.Sidenav a:active {
  color: #000000;
}

.Sidenav button {
  margin: 0px 74px;
  border: none;
  color: white;
  background: gray;
  padding: 9px;
  font-size: 17px;
}

.Sidenav h2 {
  text-transform: uppercase;
  font-weight: 200;
  margin: 19px 23px;
}

.Sidenav img {
  display: block;
  padding: 0px 7px;
  margin: 20px 59px;
  height: 90px;
}

@media screen and (max-height: 450px) {
  .Sidenav {
    padding-top: 15px;
  }
  .Sidenav a {
    font-size: 20px;
  }
}
