.Post {
  margin: 0;
}

.Post table {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 15px;
}

.Post button {
  margin: 10px;
  border: none;
  color: white;
  background: #d23d3d;
  padding: 9px;
  font-size: 17px;
}

.Post a {
  text-decoration: none;
  color: black;
}

.Post a:hover {
  color: white;
}

.Post input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

td,
th {
  border: 1px solid transparent; /* No more visible border */
  height: 30px;
  transition: all 0.3s; /* Simple transition for hover effect */
}

th {
  background: #dfdfdf; /* Darken header a bit */
  font-weight: bold;
}

td {
  background: #fafafa;
  text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td {
  background: #f1f1f1;
}

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td {
  background: #fefefe;
}

tr td:hover {
  background: #666;
  color: #fff;
}
/* Hover cell effect! */
